#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background-color: #f0f2f4;
  border-bottom: solid 1px #ccc;
  padding: 0.5rem 1rem;
  justify-content: space-around;
}

.nav-link {
  text-decoration: none;
  color: black;
  margin-right: 1rem;
}

.nav-link:hover {
  color: #5378c3;
}
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background-color: #f0f2f4;
  border-bottom: solid 1px #ccc;
  padding: 0.5rem 1rem;
  justify-content: space-around;
}
.nav-link {
  text-decoration: none;
  color: black;
  margin-right: 1rem;
}
.nav-link:hover {
  color: #5378c3;
}
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.notification-success {
  background-color: #008f39;
  color: #ffffff;
  padding: 2rem;
  border: 1px solid #008f39;
  border-radius: 0.5rem;
  max-width: 500px;
  width: 90%;
  text-align: center;
  position: relative;
}
.notification-info {
  background-color: #e0474c;
  color: #ffffff;
  padding: 2rem;
  border: 1px solid #e0474c;
  border-radius: 0.5rem;
  max-width: 500px;
  width: 90%;
  text-align: center;
  position: relative;
}
.close-btn-success {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  background: transparent;
  border: none;
  color: #3d3a33;
  font-size: 1.5rem;
  cursor: pointer;
}
.notification-error {
  background-color:  #e0474c;
  color: #f1f0ee;
  padding: 2rem;
  border: 1px solid  #e0474c;
  border-radius: 0.5rem;
  max-width: 500px;
  width: 90%;
  text-align: center;
  position: relative;
}
.container2 {
  background-color:  #2D4E76;
  color: white;
  height: 100px;
  justify-content: center ;
  align-items: center;
  display: flex;
}
.container3 {
  background-color:  #2766b2;
  color: white;
  height: 100px;
  justify-content: center ;
  align-items: center;
  display: flex;
}

.linea {
  background-color: #1a96e9;
  height: 2px;  
}

.linea2 {
  background-color: #1a96e9;
  height: 1px;  
}
.text_area{
  align-content: end;  
  margin-bottom: 20px;
} 
.btn2 {
  position: absolute; /* O 'fixed' si quieres que te siga al hacer scroll */
  top: 15px;         /* Espacio desde la parte superior */
  right: 15px;       /* Espacio desde la derecha */
  padding: 10px 15px;
  background-color: #3862ec;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.form-container {
    background-color: #1e1e1e; /* Un gris oscuro elegante */
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 10px 25px rgba(56, 54, 54, 0.712); /* Sombra para dar profundidad */
    width: 100%;
    max-width: 400px;
    margin: 50px auto;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #ffffff;
}
.app{
  display: flex;
  flex-direction: column;
  justify-content: center;
  
}
.datos{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.datos input{
  width: 300px;
  height: 30px;
  font-size: 15px;
  padding-left: 10px;
  border-radius: 5px;
}
.datos select{
  width: 100px;
  height: 30px;
  font-size: 15px; 
  padding-left: 10px;
  border-radius: 5px;
}